@import "./colors"
@import "./mixin"
@import "./fonts"


.searchbtn
  margin-top: 12px
.form-control 
  &:focus
    outline: none
    border-color: $main-color
    box-shadow: 1px 1px $main-color
.form-select
  &:focus
    border-color: $main-color !important
    box-shadow: 1px 1px $main-color !important
@media (max-width: 600px)
  .scroll-text
    @include scroll-sm
.scroll-text
    @include scroll-text
.jobs
  gap: 7px
  font-family: $font-main
  .card
    margin-left:0px
    .post_date
      @include font-size

    .salary
      background-color: $main-color
  
    .description
      @include font-size

    .buttons
      @include flex-center

.page
  display: flex
  flex-direction:row
  justify-content: center
  bottom: 0px
  left: 45%
  margin-top: 5px

.no_found
  max-width: 400px
  font-size: 20px
.icons
  display: flex
  flex-direction: row
  gap: 3px
  .hearticon
    cursor: pointer
    color: rgb(120, 186, 59)
    &:hover
      color: red
  .hearticon_clicked
    color: red
