@import "./colors"

.container
  .form
    margin-top: 30%
    margin-left: 25%
    .form-control
      &:focus
        outline: none
        border-color: $main-color
        box-shadow: 1px 1px $main-color !important
  .google
    max-width: 500px
    margin-left: 25%
    .card-body
      gap: 30px
      font-size: 16px
      .img
        max-width: 30px 
    

.signup
  margin-top: 30%
  margin-left: 25%